.App {
  text-align: center;
  
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
div.authContainer{
  background-color:white;
  position: absolute;
  top:20%;
  left:35%;
  width:500px;
  height:600px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px ;
  min-width: 400px;
  min-height: 300px;
  padding: 40px;
  min-width:400px;
  max-width:500px;
 
  
}
div.authContainer1{
  background-color:white;
  position: absolute;
  top:20%;
  left:35%;
  width:500px;
  height:600px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px ;
  min-width: 400px;
  min-height: 300px;
  padding: 40px;
  max-width:500px;
 
  
}
.chatContainer{
  height:100%;
  width:100%;
}
div.authContainer222{
  background-color:green;
  position: absolute;
  left:10%;
  
  width:1500px;
  height:900px;
  border-radius: 10px;
  min-width: 400px;
  min-height: 300px;
  padding: 40px;
  color:white;  
  max-width:1600px;
  
  margin: 0 auto;

}
div.authContainer223{

  position: absolute;
  top:5%;
  left:30%;
  width:1000px;
  height:800px;
  border-radius: 10px;
  
  min-width: 400px;
  min-height: 300px;
  padding: 40px;
  max-width:1000px;

}
@media (min-width:1000px){

  div.authContainer223{

    position: absolute;
    top:5%;
    left:30%;
    width:400;
    height:200;
    border-radius: 10px;
    
    min-width: 400px;
    min-height: 300px;
    padding: 40px;
    max-width:1000px;
  
  }

}

