body {
  margin: 0;
  font-family: 'PT Mono', monospace;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: 'PT Mono', monospace;

}

div.container{
  background-color: black;
  width:100%;
  height:100%;
}
div.authContainer2{
/* background: #000046;  
background: -webkit-linear-gradient(to right, #1CB5E0, #000046) ;  
background: linear-gradient(to right, #1CB5E0, #000046) ;  */
/* background:url('./components/images/space.gif') no-repeat center center fixed; */
background: #457fca;  /* fallback for old browsers */


background-size: cover;


overflow-y:scroll;
position: absolute;
width:100%;
height:100%;
box-shadow: 8px 8px 8px ;

}
img.space-bg{
  width:100%;
  height:100%;
}
input.user{
  position: absolute;
  top:20%;
  left:10%;
  width:80%;
  height:10%;
  
  border:none;
  border-bottom:2px solid black;
  padding:10px;
  background-color: transparent;
  
 
}
input.pass{
  position: absolute;
  top:40%;
  left:10%;
  width:80%;
  height:10%;
  border:none;
  border-bottom:2px solid black;
  padding:10px;
  background-color: transparent;
}
input.passConfirm{
  position: absolute;
  top:60%;
  left:10%;
  width:80%;
  height:10%;
  border-radius:10px;
  border:2px solid black;
  padding:10px;
}
/* button.submit{
  position: absolute;
  top:60%;
  left:20%;
  width:60%;
  height:12%;
  border-radius:10px;
  border:2px solid black;
  font-family: 'Questrial', sans-serif;
  color: black;
  font-size:20px;
  background-color:rgb(200, 138, 14) ;
 
}
button.submit:hover{
  background: black;
  color:white;
  
} */
div.signOutBTN{
  position: relative;
  padding-top:20px;
  height:150px;
  width:550px;
  left:-170%;
  top:25%;
  font-family: 'PT Mono', monospace;
}
div.signin{
  position: relative;
  top:55%;
  left:32.5%;
}
div.signup{
  position: relative;
  top:55%;
  left:32.5%;
}
h1.signUp{
  position: absolute;
  top:1%;
  left:30%;
  font-family: 'PT Mono', monospace;
  color: black;

}
div.userError{
  position: absolute;
  top:13%;
  left:10%;
  color:red;
}
div.passError{
  position: absolute;
  top:33%;
  left:10%;
  color:red;
  
  
}
div.confirmError{
  position: absolute;
  top:53%;
  left:10%;
  color:red;
}
.user-info{
  position: absolute;
  top:52%;
}
.error-info{
  
  color:crimson;
}

.chatCenter{
  position: absolute;
  left:35%;
  top:10%;
  background-color: black;
  color:white;
  width:600px;
  height:700px;
  border-radius:10px;
  
}
div.chat-input{
  position: absolute;
  top:90%;
  left:10%;
  width:100%;
}
input.chat-input{
  width:80%;
  border-radius: 10px;
}
.user-info-1{
  position: absolute;
  left:0%;
  top:10%;
  width:1000px;
  height:700px;
  border-radius: 30px;
  text-align: center;

  
}
.info-head{
  position: relative;
  color:white;
 
}
.email{
  position: relative;
  color:white;
}
div.editBTN{
  position: relative;
  left:10%;
  top:-0%;
}

.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  font-family: 'PT Mono', monospace;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}







div.msgInput{
  position:absolute;
  height:500px;
  top:20%;
  left:-50%;
  /* background-color:rgb(248, 131, 121) ; */
  background-color: transparent;
  border-radius:10px;
}
div.send{
  position: relative;
  top:20px;
}
::placeholder{
  color: white;
  font-family: 'PT Mono', monospace;
  
}
input.msgInput{
  text-align: left;
  margin: 10px;
  padding-left:20px;
  width:400px;

  border:none;
   border-bottom:2px solid black; 
  background-color: transparent;
  color:white;
  top:60px;
  left:100px;
  
  
}
input.msgInput:focus{
  outline: none;
}
button.msgInput{
 position: relative;
 top:100%;
 left:5%;
 width:100px;
 border-radius: 20px;
 border:1px solid black;
 background-color: white;


}
button.msgInput:hover{
  border:1px solid white;
}
p.msgInput{
  height: 10px;
  
}
p.msgInput:hover{
  color: white;
  
}

.users_info{
  position:absolute;
  left:-50px;
  top:-100px;
  height:150px;
  width:300px;

}

::-webkit-scrollbar{
  width: 10px;
  height:10px;
 background-color: transparent;

 
}
::-webkit-scrollbar-track{
  background-color: transparent;
 
  margin-block: 20px;
  margin-inline: 20px;
}
::-webkit-scrollbar-thumb{
 
  background: transparent;
  border-radius: 10px;
  border: 1px solid black;
  

}
::-webkit-scrollbar-corner{
  background:transparent;
}
button.deleteButton{
  background:transparent;
  border:transparent;
  
  
  
}
img.delIcon{
 width:25px;

  
}
.alreadySignedIn{
  background-color:white;
  position: absolute;
  top:20%;
  left:40%;
  width:500px;
  height:400px;
  border-radius: 10px;
  box-shadow: 8px 8px 8px ;
  min-width: 400px;
  min-height: 300px;
  padding: 40px;
  max-width:500px;
  padding-top:140px;
  padding-left:80px;
  font-family: 'PT Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:xx-large;
  border:2px solid black;
}
.title{
  position: absolute;
  bottom:100%;
  right:0px;
  font-family: 'PT Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 10px;
  width:1000px;
  box-shadow: 4px 4px 4px 4px;
  padding:20px;
}
h1.title-1{
  color:orange;
}
div.deleteButton{
  position:relative;
  right:-70%;
  font-size:small;


 
}

div.buttonContainer{
  position:absolute;
  left:25px;
  height:40px;
  width:100px;
  

}
div.mt2{
  position:absolute;
  top:-10%;
  overflow: auto;
  height:800px;
  width:1000px;
  min-height: 300px;
  border-left:2px solid black;
  background-color: transparent;

  
}

.buttonDisplay{
  color:black;
   width:100px;
   height:50px;
   text-align: left;
   padding-left:20px;
   padding-top:20px;
   
   
   
 }
 .msg{
  position: absolute;
  left:80px;
  top:15px;
  padding-left:10px;
  width:800px;
  color:black;
  font-family: 'PT Mono', monospace;
  font-size:medium;
  background-color: white;
  border-left:2px solid black;
  border-radius:10px;
  box-shadow: 2px 2px 2px 2px;
 }
 div.signUpPrompt{
  position: absolute;
  top:55%;
  left:42.5%;
  width:300px;
  height:60px;
  background-color: transparent;
  border-radius: 10px;
  padding-top:10px;
  padding-left:20px;
  box-shadow:2px 2px 2px 2px;
  border: 2px solid black;
  
 }
 div.signInPrompt{
  position: absolute;
  top:75%;
  left:12%;
  width:300px;
  height:60px;
  background-color: transparent;
  border-radius: 10px;
  padding-top:10px;
  padding-left:20px;
  box-shadow:2px 2px 2px 2px;
  border: 2px solid black;
  
 }
 h1.signUpPrompt{
  font-size:small;
  color:black;
}
button.signUpPrompt{
  border-radius: 5px;
  background: linear-gradient(to bottom, #1CB5E0, #030370); 
  color:white;
}
div.title-n{
  position: absolute;
  left:40%;
 
  font-family: 'PT Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:black;
 
}
div.lines{
  position: absolute;
  width:100%;
  top:10%;
  left:1%;
}
#modal-1{
  position: relative;
  padding-top:10%;
  width:500px;
  height:300px;
  background: #457fca; 
  box-shadow: 5px 5px 5px 5px;
  position: absolute;
  left:25%;
  border:2px solid black;
  display: none; 
  z-index: 1;
  border-radius: 10px;
 
  

}
.updateBTN{
  position: relative;
  top:10%;
}
#overlay{
  position: absolute;
  top:-10%;
  background-color: black;
  opacity:70%;
  height:800px;
  width:1000px;
  display: none;

}


@media (max-width:1900px){
 
  div.msgInput{
     
    
    left:-35%; 
  }
  input.msgInput{
    width:300px;
  }
  .title{
    position: absolute;
    bottom:100%;
    left:15%;
   
    
  }
  div.signOutBTN{
    left:-150%;
  }
  
  
}
@media (max-width:1000px) and (min-width:600px){
 

  div.msgInput{
    position: absolute;
    left:10%;
    top:600px;

  }
  div.mt2{
    width:500px;
    height:500px;
  }
  .users_info{
    left:17%;
    top:22.5%;
    width:300px;

 
  }
  div.signOutBTN{
    top:200%;
    left:-60%;
 
  }
  div.signUpPrompt{
    position:absolute;
    left:50px;
    top:20px;
    width:100px;
    height:50px;
    
   }

}
@media (max-width:600px){
  .users_info{
    position: relative;
    left:-35.5%;
    top:57%;
    width:300px;
 
  }
  div.signOutBTN{
    
    left:100%;
 
  }


  div.mt2{
    width:500px;
    height:500px;
  }

  div.msgInput{
    position: absolute;
    left:100px;
    top:600px;

  }
  .title{
    position: absolute;
    bottom:100%;
    left:25%;
    font-family: 'PT Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
    border-radius: 10px;
    width:300px;
    box-shadow: 4px 4px 4px 4px;
    padding:20px;
  }
  button.BTN{
    border:1px solid black;
    border-radius:50px;
    background-color: white;
    width:100px;
    height:30px;
    color:black;
    
    
}
div.signUpPrompt{
  position:absolute;
  left:50px;
  top:20px;
  width:100px;
  height:50px;
  
 }
 div.signInPrompt{
  
  width:200px;
 
  
 }
input.msgInput{
  width:220px;
}
button.msgInput{
  width:75px;
  border:2px solid black;
  color:black;
}
 div.title-n{
  position: absolute;
  left:15%;
  top:13%;
  font-family: 'PT Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

}
div.userNotice{
    position:absolute;
    top:30%;
    left:10%;
    color:black;
}